@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #1e1e1e;
}

.signup-button {
  background-image: linear-gradient(99.66deg, #001F46 0%, #00C9D1 139.45%);
}

.footer {
  background-image: url("../public/images/footer_bg.png");
  background-size: 100% 100%;
  height: 100px;
}
